<!DOCTYPE html>
<html>

<%= render 'layouts/bootstrap' %>

    <body style="padding-top: 100px;">

        <%= render 'layouts/header' %>

            <div>

                <!-- Rendering the Type of Activity -->
                <% if $activity_type_var == 1 %>
                    <h1><%= "Personal Activity" %></h1>

                <% elsif $activity_type_var == 2 %>
                        <h1> <%= "Physical Activity" %> </h1>

                <% elsif $activity_type_var == 3 %>
                            <h1><%= "Community Activity" %> </h1>
                <% else %>
                    <%= "NOT WORKING" %>
                <% end %>
                
                
                
                <!-- Allow user to update the time/date of their activity -->
                <%= form_for([@user,@activity,@week]) do |fw| %>
                <div class="form-group">
                    <%= fw.label :date_completed, "Date completed:"  %></br>
                    <%= fw.date_field :date_completed, class: 'form-control', required: true %>
                </div>
                <%= fw.submit 'Save', class: 'btn btn-primary btn-lg' %>
                <% end %>

                
                
                
                
            </div>
            <%= render 'layouts/footer' %>


    </body>

</html>