<!DOCTYPE html>
<html>

<%= render 'layouts/bootstrap' %>

    <body style="padding-top: 100px;">

        <%= render 'layouts/header' %>

            <div>
                <!-- Rendering the Type of Activity -->
                <% if $activity_type_var == 1 %>
                    <h1><%= "Personal Activity" %></h1>

                <% elsif $activity_type_var == 2 %>
                    <h1> <%= "Physical Activity" %> </h1>

                <% elsif $activity_type_var == 3 %>
                    <h1><%= "Community Activity" %> </h1>
                
                <% else %>
                    <%= "NOT WORKING" %>
                <% end %>
                
                <h4><%= @activity_name %></h4>
                <h4> Week <%=@week_number %></h4>

                
                <!-- Rendering the Activity Name -->
                <% @weeks.where(activities_id: @activity_id, week_num:@week_number).each do |week| %>
                <h4>Date Completed: <%= week.date_completed %></h4>
                
                <li><%= link_to "Update date", edit_user_activity_week_path(:user_id => @user_id, :activity_id => week.activities_id, :id => week.id, :week_num => @week_number) %></li>     
                <% end %>  
                
                <h4>Status</h4>
                <h5> Submitted: <%=@submitted %></h5>
                <h5> Approved: <%=@approved %></h5>
                
                
            </div>
            <%= render 'layouts/footer' %>


    </body>

</html>