<!DOCTYPE html>
<html>

<%= render 'layouts/bootstrap' %>

<body style="padding-top: 100px;">

    <%= render 'layouts/header' %>
    
    <div>
        
        <!-- Rendering the Type of Activity -->
        <% if $activity_type_var == 1 %>
                <h1><%= "Personal Activity" %></h1>
        
        <% elsif $activity_type_var == 2 %>
               <h1> <%= "Physical Activity" %> </h1>

        <% elsif $activity_type_var == 3 %>
                <h1><%= "Community Activity" %> </h1>
        <% else %>
                <%= "NOT WORKING" %>      
        <% end %>      
        
        
        <!-- Rendering the Activity Name -->
        <% @activities.where(users_id: current_user.id, activity_type: $activity_type_var).each do |activity| %>
            <h4><%= activity.activity_name %></h4>
            <% end %>
        
        <!-- Rendering the Week Number -->
        <% @weeks.where(week_num: @week_number).each do |activity| %>
        <h4>week_num: <%= week.week_num %></h4>
        <h4>date_completed: <%= week.date_completed %></h4>
        <h4>submitted: <%= week.submitted %></h4>
        <h4>approved: <%= week.approved %></h4>
        
            <% end %>
            


    </div>
    <%= render 'layouts/footer' %>

 
</body>

</html>