<%= image_tag 'gaisce.png' %></br></br>
Hi approver name, </br>
Can you please approve that <%= @user.first_name %> went to <%= @activity.activity_name %> on <%=@week.date_completed %>. </br>

If you approve, please click 'approve'. If you do not, please click 'decline approval'.

<div class="container">    
    <a href="http://localhost:3000/landing" class="btn btn-default btn-md" style="colour: #a17d10" role="button">APPROVE</a>
    </br>
<a href="http://localhost:3000/landing" class="btn btn-default btn-md" style="colour: #a17d10" role="button">DECLINE APPROVAL</a>

    
</div>
</br></br>
Many thanks,
MyGaisce