<!DOCTYPE html>
<html>

<%= render 'layouts/bootstrap' %>

<body style="padding-top: 100px;">

    <%= render 'layouts/header' %>
    
    
    <!-- Grid -->
    <div>
        
        <!-- Row 1 -->
        <div class="row">
            
            <!-- Personal Activity Link -->

            
            <div class="col-sm-2 col-md-2">
                <div class="thumbnail tile tile-medium" style="background-color: #a17d10;">
                    <%= link_to user_activities_path(:user_id => current_user.id, :activity_type => "1"), {style: "color: #FFFFFF"} do %>    
                    <h1 style="font-size: 20px">Personal Activity</h1>
                    <i class="fa-links"></i>
                    <% end %>
                </div>
            </div>
            
            
            <!-- Physical Activity Link -->
            
            
            <div class="col-sm-2 col-md-2">
                <div class="thumbnail tile tile-medium" style="background-color: #a17d10;">
                    <%= link_to user_activities_path(@user, :user_id => current_user.id, :activity_type => "2"), {style: "color: #FFFFFF"} do %>    
                    <h1 style="font-size: 20px">Physical Activity</h1>
                    <i class="fa-links"></i>
                    <% end %>
                </div>
            </div>
        </div>    
        
        <!-- Row 2 -->
        <div class="row">
            <!-- Community Activity Link -->
            
            
            <div class="col-sm-2 col-md-2">
                <div class="thumbnail tile tile-medium" style="background-color: #a17d10;">
                    <%= link_to user_activities_path(:user_id => current_user.id, :activity_type => "3"), {style: "color: #FFFFFF"} do %>    
                    <h1 style="font-size: 20px">Community Activity</h1>
                    <i class="fa-links"></i>
                    <% end %>
                </div>
            </div>
            

            <!-- Adventure Activity Link -->
            <div class="col-sm-2 col-md-2">
                <div class="thumbnail tile tile-medium" style="background-color: #a17d10;">
                    <%= link_to user_activities_path(:user_id => current_user.id, :activity_type => "4"), {style: "color: #FFFFFF"} do %>    
                    <h1 style="font-size: 20px">Adventure Activity</h1>
                    <i class="fa-links"></i>
                    <% end %>
                </div>
            </div>
        </div> 
            
            
            


    </div>
    <%= render 'layouts/footer' %>

 
</body>

</html>