<div class="app">
    <%= image_tag 'gaisce.png' %></br></br></br>
    <button type="button" class="btn btn-default btn-block" style="colour:">
        <%= link_to log_in_path do %>
        Login
        <i class="fa-links"></i>
        <% end %>
    </button>
    </br>
    <button type="button" class="btn btn-default btn-block">
        <%= link_to sign_up_path do %>
        Register
        <i class="fa-links"></i>
        <% end %>
    </button>
</div>
