<h1>Registration</h1>

<%= form_for @user do |f| %>
  <%= render 'shared/errors', object: @user %>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :surname %>
    <%= f.text_field :surname, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :previous_award, "If you have undertaken any Gaisce award previously, please select the most recent award below." %>
      <%= f.select(:previous_award, [['None completed', 1],['Bronze Award', 2], ['Silver Award', 3],['Both Bronze & Silver',4]]) %></br>
  </div>
  <div class="form-group">
    <%= f.label :chosen_award, "Select the Gaisce Award you are currently undertaking" %></br> 
    <%= f.select(:chosen_award, [['Bronze Award', 26], ['Silver Award', 52], ['Gold Award', 78]]) %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
  </div>
  <%= f.submit 'Register', class: 'btn btn-primary btn-lg' %>
<% end %>