<!DOCTYPE html>
<html>

<%= render 'layouts/bootstrap' %>

<body style="padding-top: 100px;">

    <%= render 'layouts/header' %>
    
    <!-- Facebook Page -->
    <div>
        <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=727288187359353";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
       <div height="700" class="fb-page" data-href="https://www.facebook.com/GaisceAward" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
           <div class="fb-xfbml-parse-ignore">
               <blockquote cite="https://www.facebook.com/GaisceAward">
                   <a href="https://www.facebook.com/GaisceAward">Gaisce - The President&#039;s Award</a>
               </blockquote>
           </div>
        </div>
        

    </div>
    <%= render 'layouts/footer' %>

 
</body>

</html>