<!DOCTYPE html>
<html>

<%= render 'layouts/bootstrap' %>

<body style="padding-top: 100px;">

    <%= render 'layouts/header' %>
    


    <!-- Instagram Feed -->
    <!--   <h4>gaisceaward</h4>
    <div>Gaisce The Presidents Award Gaisce - The President's Award is a self-development programme for young people aged 15-25 that encourages you to dream big and realise your potential www.youtube.com/watch?v=9w0D8nRV9h4</div></br></br>
<script src="http://snapwidget.com/js/snapwidget.js"></script>
<iframe src="http://snapwidget.com/in/?u=Z2Fpc2NlYXdhcmR8aW58MTI1fDN8M3x8bm98NXxub25lfG9uU3RhcnR8eWVzfHllcw==&ve=310116" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe> -->
    
    
    
    
    
    <%= render 'layouts/footer' %>

 
</body>

</html>