<!DOCTYPE html>
<html>

<%= render 'layouts/bootstrap' %>

<body style="padding-top: 100px;">

    <%= render 'layouts/header' %>
    
    
    <!-- Twitter Page -->
    <a class="twitter-timeline" href="https://twitter.com/GaisceAward" data-widget-id="629011363210334209">Tweets by @GaisceAward</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    
    <%= render 'layouts/footer' %>

 
</body>

</html>