<!DOCTYPE html>
<html>

<%= render 'layouts/bootstrap' %>

<body style="padding-top: 100px;">

    <%= render 'layouts/header' %>
    
    
    
    
    <!-- Gaisce Web Page -->
    
    <object data=http://gaisce.ie/ width="90%" height="700"> <embed src=http://gaisce.ie/ width="600" height="400"> </embed> Error: Embedded data could not be displayed. </object>
    
    
    
    <%= render 'layouts/footer' %>

 
</body>

</html>