<!DOCTYPE html>
<html>
    <%= render 'layouts/bootstrap' %>

    <body style="padding-top: 100px;">
        <%= render 'layouts/header' %>
        
        <!-- Rendering the Type of Activity -->
        <% if $activity_type_var == 1 %>
                <h1><%= "Personal Activity" %></h1>
        
        <% elsif $activity_type_var == 2 %>
               <h1> <%= "Physical Activity" %> </h1>

        <% elsif $activity_type_var == 3 %>
                <h1><%= "Community Activity" %> </h1>
        <% else %>
                <%= "NOT WORKING" %>      
        <% end %>

            
        <!-- Rendering the Activity Name -->
        <% @activities.where(users_id: current_user.id, activity_type: $activity_type_var).each do |activity| %>
            <h4><%= activity.activity_name %></h4>
            <!-- Current activity_id = @act_id -->
            <% @act_id = activity.id %>
            <% end %>

        
        <!-- Generating the list of weekly entries -->
        <div>
            <% current_user.chosen_award.times do |index| %>
                <% @activities.where(users_id: current_user.id, activity_type: $activity_type_var).each do |activity| %>
                    <li class="list-group-item">
                        <%= link_to "Week #{index + 1}",user_activity_weeks_path(@user, :user_id => current_user.id, :activity_id => activity.id, :activity_type => $activity_type_var, :week_num => index+1) %>  
                    </li>
                <% end %>
            <% end %>
        </div>
        
        
        <%= render 'layouts/footer' %>
    </body>

</html>