<% if $activity_type_var==1 %>

    <h1>Step Two</h1>

    Please fill in the details below for your personal Gaisce activity:

    <%= form_for([@user, @activity]) do |af| %>

    <%= af.hidden_field :users_id, value: current_user.id %>
    <%= af.hidden_field :activity_type, value: 1 %>
    <%= af.label :activity_name, "Personal Activity"  %></br>
    <%= af.text_field :activity_name, :placeholder => "e.g. Piano lessons", class: 'form-control' %></br>
    <%= af.label :approver_email, "Personal Activity Supervisor's Email" %></br>
    <%= af.email_field :approver_email, :placeholder =>  "e.g. tesspiano@outlook.com", class: 'form-control' %></br>

    <%= af.submit 'Next step', class: 'btn btn-primary btn-lg' %>
    <% end %>


<% elsif $activity_type_var==2 %>

    <h1>Step Three</h1>

    Please fill in the details below for your physical Gaisce activity:

    <%= form_for([@user, @activity]) do |af| %>

    <%= af.hidden_field :users_id, value: current_user.id %>
    <%= af.hidden_field :activity_type, value: 2 %>
    <%= af.label :activity_name, "Physical Activity"  %></br>
    <%= af.text_field :activity_name, :placeholder => "e.g. Hockey", class: 'form-control' %></br>
    <%= af.label :approver_email, "Physical Activity Supervisor's Email" %></br>
    <%= af.email_field :approver_email, :placeholder =>  "e.g. hockeycoach@outlook.com", class: 'form-control' %></br>

    <%= af.submit 'Next step', class: 'btn btn-primary btn-lg' %>
    <% end %>

<% else %>
    <h1>Final Step</h1>

    Please fill in the details below for your community Gaisce activity:

    <%= form_for([@user, @activity]) do |af| %>

    <%= af.hidden_field :users_id, value: current_user.id %>
    <%= af.hidden_field :activity_type, value: 3 %>
    <%= af.label :activity_name, "Community Activity"  %></br>
    <%= af.text_field :activity_name, :placeholder => "e.g. Volunteering with Age Action", class: 'form-control' %></br>
    <%= af.label :approver_email, "Community Activity Supervisor's Email" %></br>
    <%= af.email_field :approver_email, :placeholder =>  "e.g. ageaction@outlook.com", class: 'form-control' %></br>

    <%= af.submit 'Finish Registration', class: 'btn btn-primary btn-lg' %>
    <% end %>
<% end %>

