 <head>
     <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <link type="text/css" href="/_beta/css/fontface.css?v=20141007" rel="stylesheet" media="screen" />
    <link type="text/css" href="/_beta/css/mobile-portrait.css?v=20141007" rel="stylesheet" media="screen" />
    <link type="text/css" href="/_beta/css/mobile-landscape.css?v=20141007" rel="stylesheet" media="screen and (min-width: 480px)" />
    <link type="text/css" href="/_beta/css/tablet.css?v=20141007" rel="stylesheet" media="screen and (min-width: 700px)" />
    <link type="text/css" href="/_beta/css/desktop.css?v=20141008" rel="stylesheet" media="screen and (min-width: 960px)" />
    <link type="text/css" href="/_beta/css/all-site-global.css?v=20141007" rel="stylesheet" media="screen" />
    <link type="text/css" href="/_beta/css/new_snow.css?v=5" rel="stylesheet" media="screen" />
    <div class="container">
</head>