        <!-- Footer -->
        <div class="navbar navbar-fixed-bottom" style=" height: 60px; bottom: 0; width: 100%; background-color: #FFFFFF">
            <div class="container">
                <p class="text-muted">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <ul class="list-inline text-center">
                            <li>
                                <a href="/home">
                                    <span class="fa-stack">
                                        <i class="fa fa-home fa-stack-1x fa-inverse" style="color: #a17d10;"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/facebook">
                                    <span class="fa-stack">
                                        <i class="fa fa-facebook fa-stack-1x fa-inverse" style="color: #a17d10;"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/twitter">
                                    <span class="fa-stack">
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse" style="color: #a17d10;"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/instagram">
                                    <span class="fa-stack">
                                        <i class="fa fa-instagram fa-stack-1x fa-inverse" style="color: #a17d10;"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/website">
                                    <span class="fa-stack">
                                        <i class="fa fa-info fa-stack-1x fa-inverse" style="color: #a17d10;"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                </p>
        </div>
        </div>
<!-- jQuery -->
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="javascripts/bootstrap.min.js "></script>

<!-- Custom Theme JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-clean-blog/1.0.4/css/clean-blog.min.css "></script>