        <!-- Header -->
        <nav class="navbar navbar-default navbar-fixed-top" style="margin-top:20px; background-color: #FFFFFF;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/home">
                        <%= image_tag('gaisce.png', class: 'img-responsive', style: 'height:90%; width:60%;')%>
                        
                    </a>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="navbar-brand" href="user_home.html"><i class="fa fa-chevron-left fa-stack-1x fa-inverse" style="color: #a17d10; "></i></a>
                        </li>
                        <li><a class="navbar-brand" href="#"><i class="fa fa-bars fa-stack-1x fa-inverse " style="color: #a17d10; margin-left:10%; margin-right:10%"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>